@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Londrina+Solid:wght@100;300;400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  background-color: #181a1c;
  color: #ffffff;
}

header {
  padding: 25px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

.left-header {
  display: flex;
  gap: 80px;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.title img {
  width: 25px;
  height: 22px;
}

.title h3 {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-size: 32px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 80px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.arrow-down {
  width: 14px;
  height: 9px;
  cursor: pointer;
}

.hero {
  position: relative;
  width: 100%;
  height: 470px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    #181a1c 0%,
    rgba(24, 26, 28, 0.8) 30%,
    rgba(24, 26, 28, 0.4) 60%,
    transparent 85%
  );
  z-index: 2;
  pointer-events: none;
}

.movie-detail {
  position: absolute;
  z-index: 3;
  width: 100%;
  bottom: 60px;
  left: 0;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 668px;
  gap: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.description h1 {
  font-size: 48px;
  font-weight: 700;
}

.description p {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.button-detail {
  display: flex;
  gap: 10px;
}

.start-button {
  background-color: #0f1e93;
  border-radius: 48px;
  padding: 14px 16px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.more-button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #22282a;
  border-radius: 48px;
  padding: 14px 16px;
}

.age-warning {
  border: 1px solid #c1c2c4;
  border-radius: 24px;
  padding: 14px 16px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.volume-off-button {
  background-color: transparent;
  border: 1px solid #c1c2c4;
  padding: 14px 16px;
  border-radius: 24px;
  cursor: pointer;
}

.watch-continue {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 80px;
  gap: 32px;
  width: 100%;
}

h3 {
  font-size: 32px;
  font-weight: 700;
}

.carousel-container {
  position: relative;
}

.prev-btn {
  position: absolute;
  width: 44px;
  height: 44px;
  left: -22px;
  top: 50%;
  transform: translateY(-50%);
  background: #2f3334;
  border: 1px solid rgba(231, 227, 252, 0.23);
  border-radius: 24px;
  flex: none;
  order: 5;
  flex-grow: 0;
  z-index: 5;
  cursor: pointer;
}

.prev-btn img,
.next-btn img {
  width: 20px;
  height: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.next-btn {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 50%;
  transform: translateY(-50%);
  right: -22px;
  background: #2f3334;
  border: 1px solid rgba(231, 227, 252, 0.23);
  border-radius: 24px;
  flex: none;
  order: 4;
  flex-grow: 0;
  z-index: 4;
  cursor: pointer;
}

.slide-wrapper {
  display: flex;
  gap: 24px;
}

.movie-card {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.movie-card img {
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
}

.detail {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  padding: 15px;
  background: linear-gradient(to top, #181a1cbc 40%, transparent 80%);
  display: flex;
  justify-content: space-between;
}

.detail h6 {
  font-size: 18px;
}

.right-part-wc {
  display: flex;
  align-items: center;
  gap: 4px;
}

.right-part-wc img {
  width: 16px;
  height: 16px;
}

.right-part-wc span {
  font-size: 14px;
  font-weight: 400;
}

.new-episode-sign {
  position: absolute;
  left: 10px;
  top: 10px;
  border: 1px solid #0f1e93;
  border-radius: 24px;
  background: #0f1e93;
  padding: 4px 10px;
  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 2;
  font-size: 14px;
}

.top-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 80px;
  gap: 32px;
  width: 100%;
}

.film-trending {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 80px;
  gap: 32px;
  width: 100%;
}

.top-ten-sign {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px;
  gap: 10px;
  position: absolute;
  width: 31px;
  height: 48px;
  right: 10px;
  top: 0px;
  background: #b71f1d;
  border-radius: 0px 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}

.new-release {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 80px;
  gap: 32px;
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
  gap: 20px;
  width: 100%;
  background: #181a1c;
  border-top: 1px solid rgba(231, 227, 252, 0.23);
}

.title-copyright {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.genre,
.help {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.genre-collections {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: self-start;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.genre-collections ul,
.help ul {
  display: flex;
  flex-direction: column;
  gap: 13px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #c1c2c4;
  cursor: pointer;
}

.genre-collections img,
.help img {
  display: none;
}

.title-copyright .title img {
  width: 43px;
  height: 36px;
}

.title-copyright .title h3 {
  font-size: 50px;
}

.copyright {
  color: #c1c2c4;
  font-size: 16px;
}

@media (width < 920px) {
  header {
    padding: 20px 40px;
  }

  .left-header {
    gap: 20px;
  }

  nav ul {
    gap: 20px;
  }

  .movie-detail {
    padding: 0 40px;
  }

  .description {
    width: 500px;
  }

  .description h1 {
    font-size: 30px;
  }

  .description p {
    font-size: 16px;
  }

  h3 {
    font-size: 25px;
  }

  .watch-continue,
  .top-rating,
  .film-trending,
  .new-release,
  footer {
    padding: 20px 40px;
  }

  .prev-btn,
  .next-btn {
    display: none;
  }

  .carousel-container {
    width: 100%;
    overflow: hidden;
  }

  .slide-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
  }

  .slide-wrapper::-webkit-scrollbar {
    display: none;
  }

  .watch-continue-poster {
    min-width: 400px;
    flex-shrink: 0;
  }

  .long-poster {
    min-width: 200px;
  }

  footer {
    flex-direction: column;
    align-items: start;
    gap: 20px 40px;
  }

  .title-copyright {
    gap: 10px;
  }

  .genre,
  .help {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .genre p,
  .help p {
    font-size: 20px;
  }

  .genre-collections img,
  .help img {
    display: flex;
    cursor: pointer;
  }

  .genre-collections ul,
  .help ul {
    display: none;
  }
}

@media (width < 650px) {
  header {
    padding: 15px 25px;
  }

  .title img {
    width: 17px;
    width: 15px;
  }

  .left-header .title h3 {
    display: none;
  }

  .left-header {
    gap: 12px;
    flex: none;
    order: 0;
    flex-grow: 1;
  }

  nav ul {
    gap: 12px;
  }

  a {
    font-size: 12px;
  }

  .avatar {
    width: 20px;
    height: 20px;
  }

  .arrow-down {
    width: 8px;
    height: 5px;
  }

  .description {
    width: 320px;
  }

  .description h1 {
    font-size: 24px;
  }

  .description p {
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .hero {
    height: 300px;
  }

  .movie-detail {
    gap: 20px;
    padding: 0 30px;
    bottom: 20px;
  }

  .start-button,
  .more-button,
  .age-warning,
  .volume-off-button {
    padding: 6px 12px;
    display: flex;
    align-items: center;
    font-size: 12px;
  }

  .volume-off-button img {
    width: 12px;
    height: 12px;
  }

  h3 {
    font-size: 20px;
  }

  .watch-continue,
  .top-rating,
  .film-trending,
  .new-release,
  footer {
    padding: 20px;
  }

  .detail h6 {
    font-size: 14px;
  }

  .slide-wrapper {
    gap: 16px;
  }

  .watch-continue-poster {
    min-width: 309px;
    width: 309px;
    flex-shrink: 0;
  }

  .long-poster {
    min-width: 95px;
  }

  .new-episode-mobile {
    font-size: 6px;
    padding: 2px 5px;
    left: 5px;
  }

  .top-ten-mobile {
    font-size: 7px;
    width: 15px;
    height: 22px;
    justify-content: center;
    align-items: center;
  }

  footer {
    gap: 20px;
  }

  .title-copyright {
    gap: 20px;
  }

  .title-copyright .title h3 {
    font-size: 24px;
  }

  .title-copyright .title img {
    width: 24px;
    height: 21px;
  }

  .genre p,
  .help p {
    font-size: 16px;
  }
}
